<!-- ここでは「東京」をクリックした際のランキングページを表示します -->

<div class="back">


<div class="page-content">
 <div class="side-menu">
    <div class="menu-content text-center">
      <%= link_to "北海道", root_path %>
      </br>
      <%= link_to "東北地方", root_path %>
      </br>
      <%= link_to "関東地方", root_path %>
      </br>
      <%= link_to "中部地方", root_path %>
      </br>
      <%= link_to "関西地方", root_path %>
      </br>
      <%= link_to "中国地方", root_path %>
      </br>
      <%= link_to "四国地方", root_path %>
      </br>
      <%= link_to "九州・沖縄地方", root_path %>
  </div>
 </div>

 <div class="tokyo-index-wrapper">
     <% @spots.each do |spot| %>
       <div class="slideshow">
        <p class="slideshow-title">観光名所</p>
         <%= link_to spot_path(id: spot.id), method: :post do %>
         <div class="slideshow-text">
           <%= spot.spot_name %>
         </div>
         <% end %>
       </div>
     <% end %>
 </div>
</div>




</div>

