<div class="user-new-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="user-h1-text text-center">登録画面</h1>
      <div class="col-md-offset-4 col-md-4 col-md-offset-4 form-user">
      <%= form_for @spot do |f| %>
      <div class="form-group">
       <%= f.label :spot_name, class: 'text-while ' %>
       <%= f.text_field :spot_name, class: 'form-control' %>
      </div>
       <div class="form-group">
       <%= f.label :description, class: 'text-while' %>
       <%= f.text_field :description, class: 'form-control' %>
      </div>
      <div class="form-group">
       <%= f.label :image, class: 'text-while' %>
       <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <%= f.submit "登録", class: 'btn-white' %>
      <% end %>
      <div class="login-text">
      <%= p "(注)登録成功時は自動でTOPに戻ります" %>
      </div>
     </div>
      
    </div>
  </div>
</div>
