<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
 <div class="pull-right">
   <div class="navigation">
     <% if logged_in? %>
     <%= link_to "TOPに戻る" , root_path ,{class: "navigation-button"} %>
     <%= link_to "マイページへ" , mypages_path ,{ class: "navigation-button-2"} %>
     <% else %>
     <%= link_to "登録はこちら" , new_user_path ,{class: "navigation-button"} %>
     <%= link_to "ログイン" , login_path ,{ class: "navigation-button-2"} %>
     <% end %>
   </div>
  </div>
</div>


<div class="top-hero-wrapper text-left">
  <div class="container top-hero-container">
    <h1 class="h1-text">ポートフォリオ用テスト</h1>
    <h2 class="h2-text">これがh2になるよ</h2>
    <div class="row">
      
    </div>
  </div>
</div>


<div class="middle-hero-wrapper text-center">
  <div class="container middle-hero-container">
    <p class="middle-text">地域選択</p>
    <div class="row top-content">
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
    </div>
    
    <div class="row under-content">
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
       
       <div class="col-md-3 tiiki-content">
        <div class="middle-content">
         <%= p "東北地方" %>
        </div>
        <div class="tiiki-text">
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
         </br>
         <%= link_to "青森県", root_path %>
        </div>
       </div>
    </div>
  </div>
</div>


<div class="under-hero-wrapper text-center">
   <div class="container under-hero-container">
     <p class="under-text">Pictgram</p>
     <%= link_to image_tag('icons/pict.png'),'https://serene-refuge-44069.herokuapp.com/', class: 'pictgram' %>
   </div>
</div>