<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
 <div class="pull-right">
   <div class="navigation">
     <% if logged_in? %>
     <%= link_to "TOPに戻る", root_path , class: "navigation-button" %>
     <%= link_to "ログアウト", logout_path , class: "navigation-button-2", method: :delete %>
     <% else %>
     <%= link_to "登録はこちら", new_user_path , class: "navigation-button" %>
     <%= link_to "ログイン", login_path , class: "navigation-button-2" %>
     <% end %>
   </div>
  </div>
</div>

<div class="mypage-profil-content">
 <div class="container">
   <div class="row">
     <div class="profil-title text-left">
      <p>プロフィール</p>
      <%= link_to "ユーザー登録", edit_mypage_path(current_user.id) , {class: "toroku-text" } %>
     </div>
   </div>
 </div>
</div>

<div class="favorite-spot-index">
 <div class="container">
  <% @favorite_spots.each do |spot| %>
   <div class="row">
    <div class="col-md-offset-6 col-md-5 favorite-content">
          <%= image_tag spot.image.url, class:"favorite-image-spot" %>
          <div class="favorite-spot-name">
            <p class="favorite-spot-text">
            <%= spot.spot_name %>
            </p>
          </div>
          <div class="favorite-spot-description">
           <p class="favorite-spot-description-title">詳細</p>
           <%= spot.description %>
          </div>
    </div>
   </div>
   <% end %>
 </div>
</div>
