<!-- ここでは「東京」をクリックした際のランキングページを表示します -->

<div class="back">

<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
 <div class="pull-right">
   <div class="navigation">
     <% if logged_in? %>
     <%= link_to "TOPに戻る" , root_path ,{class: "navigation-button"} %>
     <%= link_to "マイページへ" , mypage_path(current_user.id) ,{ class: "navigation-button-2"} %>
     <% else %>
     <%= link_to "登録はこちら" , new_user_path ,{class: "navigation-button"} %>
     <%= link_to "ログイン" , login_path ,{ class: "navigation-button-2"} %>
     <% end %>
   </div>
  </div>
</div>

<div class="tokyo-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-6 slideshow">
        <p>test</p>
      </div>
    </div>
  </div>
</div>

<div class="side-menu">
  <div class="container">
    <div class="col-md-2 menu-content text-center">
      <%= link_to "北海道", root_path %>
      </br>
      <%= link_to "東北地方", root_path %>
      </br>
      <%= link_to "関東地方", root_path %>
      </br>
      <%= link_to "中部地方", root_path %>
      </br>
      <%= link_to "関西地方", root_path %>
      </br>
      <%= link_to "中国地方", root_path %>
      </br>
      <%= link_to "四国地方", root_path %>
      </br>
      <%= link_to "九州・沖縄地方", root_path %>
    </div>
  </div>
</div>




</div>

