<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!-- script src="//maps.google.com/maps/api/js?v=3.23&key=[AIzaSyCN5Mgb3BD6iz-Zto8GSwB_GIOxL7xh24o]" -->

  </head>
  <body>
    
<!-- liでならべる-->    
<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
 <div class="pull-right">
   <div class="navigation">
     <% if logged_in? %>
      <li>
       <%= link_to "TOPに戻る", root_path %>
      </li>
      <li>
       <%= link_to "マイページへ" , user_path(current_user.id) %>
      </li>
      <li>
       <%= link_to "ログアウト" , logout_path(current_user.id) ,method: :delete %>
      </li>
     <% else %>
     <li>
     <%= link_to "登録はこちら" , new_user_path %>
     </li>
     <li>
     <%= link_to "ログイン" , login_path %>
     </li>
     <% end %>
   </div>
  </div>
</div>

    
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>


  <%= yield %>
  
  <script>
     $(function(){
       $(".alert").fadeOut(3000);
     });
  </script>
  
  
  </body>
</html>
